/* Keyframes for hero image fade-in - Sonal*/
@keyframes heroFadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .indexhero img {
    animation: heroFadeIn 1.5s ease-out forwards;
  }
  

  @keyframes pulseCTA {
    0%, 100% {
      transform: scale(1);
      background-color: rgba(0, 136, 169, 1);
    }
    50% {
      transform: scale(1.05);
      background-color: rgba(0, 136, 169, 0.8);
    }
  }
  
 
  .cta {
    animation: pulseCTA 2s infinite;
  }
  