
/* - Sonal Chhen*/

* {font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;}

body{ background-color: #FAFDF3;}

.jobs-container {  
    background-color: #FAFDF3;     
  }

.titlejob { 
    background-color: #FAFDF3;
}

footer{
    background-color: #FAFDF3;
    color: black;
}

.emailink {
    background-color:#FAFDF3 ;
    color: black;
  }

.ten h2 {
    font-size:34px; font-weight:500; text-transform:uppercase;
}

.jobhero {
    width: 100%;
    height: 250px;
    overflow: hidden;
  }
  
.jobhero img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
  
/*>>>>>>>>>>>>>>>>>>>>>*/

.indexhero {
  width: 100%;
  height: 375px; 
  overflow: hidden;
  
}

.indexhero img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.content_grid {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto auto auto auto; 
  grid-template-areas: 
    "welcome welcome"
    "company_intro picture1"
    "company_details picture2"
    "company_roadmap picture3";
  gap: 20px;
  padding: 20px;
  width: 100%;
}


.welcome {
  grid-area: welcome;
  color: white;
  background: red;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 20px;
  grid-template-columns: 1/3;
  border: 1px solid red;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondMainText {
  font-size: 32px;
  line-height: 1.2;
  animation: rainbow 2s linear infinite;
  background: linear-gradient(90deg, #ffeb3b, #00e676, #40c4ff, #7c4dff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;
}

.thirdMainText {
  animation: rainbow 5s linear infinite;
  background: linear-gradient(90deg, #ffeb3b, #00e676, #40c4ff, #7c4dff);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;
  font-size: 20px;
}

@keyframes rainbow {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.homePic {
  border-radius: 20px;
  border: 5px solid black;
}


.company_intro, .company_roadmap, .company_details {
  grid-area: company_intro;
  background: #FAFDF3;
  padding:  5px 5px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  line-height: 1.4;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  height: 70%;
  align-self: center;
  width: 100%;
}

.company_intro, .company_roadmap, .company_details  > h2 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.company_intro > p {
  margin: 0;
  padding: 0;
}

.picture1 {
  grid-area: picture1;
  background: #FAFDF3;
  padding: 20px;
}
.picture1 img {
  width: 500px;
  height: auto;
  object-fit: cover;
}

.company_details {
  grid-area: company_details;
  background: #FAFDF3;
  padding: 20px;
}

.picture2 {
  grid-area: picture2;
  background: #FAFDF3;
  padding: 20px;
}
.picture2 img {
  width: 500px;
  height: auto;
  object-fit: cover;
}

.company_roadmap {
  grid-area: company_roadmap;
  background: #FAFDF3;
  padding: 20px;
}

.picture3 {
  grid-area: picture3;
  background: #FAFDF3;
  padding: 20px;
}
.picture3 img {
  width: 500px;
  height: auto;
  object-fit: cover;
}

.picture1, .picture2, .picture3 {
  display: flex;
  justify-content: center; 
  align-items: center;  
  background: #FAFDF3;
  padding: 20px;
}

.company_intro {
  background-color:#FAFDF3;
}

.picture1 img,
.picture2 img,
.picture3 img {
  width: 500px;
  height: auto;
  margin-left: 60px;
}

.successStory {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.mini_box {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.mini_box1 {
  margin: 5px;
  border-radius: 20px;
  background-color: #E1E5D7;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 90%;
  margin-left: 8%;

}

.mini_box1 > h2 {
  color: white;
  margin-bottom: 5px;
}

.mini_box1 > p {
  padding: 5px;
  width: 80%;
  height: 250px; 
  text-align: center;
  margin-left: 10%;
  background-color: #FAFDF3;
  line-height: 1.4;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.mini_box1 > img {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 250px; 
  margin-bottom: 10px;
  border-radius: 30px;
  border: 5px solid #C2C8B2;
}

.mini_box1 > h2 {
  text-align: center;
}

.mini_box1  img {
  transition: transform .2s;
}

.mini_box1 img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1); 
  transform: scale(1.2); 
}
